.body{
    background-color: #526d6c;
    font-family: 'Times New Roman', Times, serif;
      border:1px solid #0f0f0f;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

.specials{
    background-color: #8C4;
    padding: 0.3em;
    margin: 0.5em;
    border-radius: 1em;
    flex: 1;

}
.medium{
    background-color: red;
    border:1px solid #0f0f0f;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    flex: 1;
}
.large{
    background-color: #EAF525;
    border:1px solid #0f0f0f;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    flex: 1;
}
.contact{
    background-color: #3a06f7;
    border:1px solid #0f0f0f;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}
.center {
    
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
@media(min-width:960px){
    .Mjoli{
        display: flex;
    }
}